body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: #F5F2E9;
}

h1 {
  padding: 50px;
}

.carousel-item > img{
    width: 700px;
    margin: auto;
}

/* #carouselExampleIndicators .carousel-item img {
  margin: auto;
} */
