body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: #F5F2E9;
}

h1 {
  padding: 50px;
}

img {
  padding: auto;
}

/* .carousel-item > img{
    width: 600px;
} */

/* #carouselExampleIndicators .carousel-item img {
  margin: auto;
} */
